{% extends "layout.html" %}

{% block title %}
Home page
{% endblock title %}

{% block content %}
<h1 class="bg-green-500 text-3xl">Chai aur code | Home page</h1>
<p class="text-center w-200 bg-orange-400 text-2xl">This is the home page Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque saepe omnis molestias dicta, animi quam doloremque assumenda voluptatibus delectus cumque ducimus illo natus, consectetur necessitatibus maxime veniam doloribus exercitationem harum!</p>
{% endblock content %}